@using Microsoft.AspNetCore.Identity
@using Test_Project_Hotel.Models
@model Test_Project_Hotel.ViewModels.Rooms.RoomsViewModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Room management";
}
<h2>Room management</h2>

<form method="post">
    <div class="form-inline">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label class="control-label">Room type </label>
        @Html.TextBox("type", Model.RoomFilterViewModel.SelectedType,
                htmlAttributes: new { @class = "form-control", @id = "SelectedType", @type = "string", style = "width:150px" })
        <input type="submit" value="Find" class="btn btn-default" style='width:90px' />
    </div>
</form>

<table class="table table-hover table-bordered text-center" id="tblemps">
    <thead>
        <tr>
            <th style="text-align: center;">
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.RoomSortViewModel.TypeSort)"
                   asp-route-type="@(Model.RoomFilterViewModel.SelectedType)">Type</a>
            </th>
            <th style="text-align: center;">
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.RoomSortViewModel.DescriptionSort)"
                   asp-route-type="@(Model.RoomFilterViewModel.SelectedType)">Description</a>
            </th>
            <th style="text-align: center;">
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.RoomSortViewModel.CapacitySort)"
                   asp-route-type="@(Model.RoomFilterViewModel.SelectedType)">Capacity</a>
            </th>
            <th style="text-align: center;">
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.RoomSortViewModel.PriceSort)"
                   asp-route-type="@(Model.RoomFilterViewModel.SelectedType)">Price, USD</a>
            </th>
            @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "admin"))
            {
                <th style="text-align: center;">
                    <a class="btn btn-primary" asp-action="Create">Add room</a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rooms)
        {
        <tr>
            <td>
                @Html.HiddenFor(modelitem => item.RoomID)
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomPrice)
            </td>
            @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "admin"))
            {
                <td>
                    <form asp-action="Delete" asp-route-id="@item.RoomID" method="post">
                        <a class="btn btn-sm btn-success glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.RoomID"></a>
                        <button type="submit" class="btn btn-sm btn-danger glyphicon glyphicon-trash"></button>
                    </form>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Back
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Forward
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
@if (Model.PageViewModel.TotalPages > 1)
{
    <br />
    <b>Page @Model.PageViewModel.PageNumber from @Model.PageViewModel.TotalPages</b>
}